.wrapper_2LRQe .offer_38ZCR .badge_3pFZJ{
  background-color: #D75700;
}
.wrapper_2LRQe {
  position: absolute;
  width: 100%;
  top: 0;
  height: 372px;
}
.modal_3MX0r .modal-dialog {
  max-width: 440px!important;
}
.modal_3MX0r .modal-header {
  border-bottom: 0;
  padding: 1.875rem;
  justify-content: center!important;
  text-align: center;
}
.modal_3MX0r .container_Pmirf {
  font-size: .875rem;
  line-height: 1.5rem;
  color: #596080;
  text-align: center;
}
.modal_3MX0r .modal-footer {
  padding: 1.875rem;
  background-color: #fafafc;
  justify-content: center!important;
}
.modal_3MX0r .social_ivHiy .btn-block+.btn-block {
  margin-top: 1rem;
}
.modal_3MX0r .modal-content {
  border-radius: 3px;
}
.container_1H75R.dropdown{
  position: static;
}
.container_1H75R .menuContainer_3XkV8.show {
  max-height: 400px;
  pointer-events: all;
  border-radius: 0;
  box-shadow: 0 800px 0 800px rgba(0,0,0,.7);
}

.btn-primary{
  background-color: #1472D0;
}



.wrapper_2LRQe .heading_1ggpF{
  color: white;
}

.wrapper_2LRQe .tag_3hbhL{
  background: #d8dbeb;
}

.wrapper_2LRQe .textWrapper_1K1m8 .animation_FeuoF{
  color: #1472D0;
}

.text-primary{
  color: #1472D0 !important;
}

.container_2mHk_ .card_-q2oi .navigate_1swrW:hover{
  color: #1472D0;
}

.container_2mHk_ .card_-q2oi .badge_1sLO8{
  color: #1472D0;
}

.container_35TU1 .grid_32TJn .navigate_FkYTW:hover{
  color: #1472D0;
}

.text-danger svg [fill-rule=nonzero] {
  fill: #1472D0;
}

.container_35TU1{
  background-color: #38C190 !important;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slick-next {
  right: 25px;
  z-index: 99;
}

.slick-prev {
  left: 25px;
  z-index: 99;
}

.container_2mDyg .thumb_3RogO {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container_2mDyg .link_14GO6, .container_2mDyg .overlayContent_1Q2nd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container_2mDyg, .container_2mDyg.icon_2gRNm, .container_2mDyg .thumb_3RogO {
  box-shadow: 0 0 0 1px #ebedf5;
}
.container_2mDyg {
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  width: 100%;
}

.container_CrKlg .packGrid_2IHvL {
  padding-bottom: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  grid-gap: 20px;
}

.container_2HAwk .icon_2N42L {
  width: 100%;
  background-color: #7400f8;
  border-radius: 20px;
  position: relative;
  text-decoration: none!important;
  color: inherit;
  overflow: hidden;
}

.wrapper_26aA7 {
  position: relative;
  background-color: #e6e6ff;
  height: 400px;
  border-radius: 10px;
}

.container_2lkCS .grid_jox1p {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  grid-gap: 30px;
}

.card_1rSJV .content_1Xb27 {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card_1rSJV .imgWrapper_taAEf {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container_3_XLo {
  background-color: #000;
}

.container_9Lwwl .cardWrapper_2TbrT {
  background: linear-gradient(18.4deg,#042ec3 9.54%,#f2e7fd 50.09%,#c536b2 90.64%);
  border-radius: 20px;
  padding: 1px;
}

.container_9Lwwl .cardWrapper_2TbrT .card_wuceN {
  position: relative;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  z-index: 10;
}

.container_9Lwwl .cardWrapper_2TbrT .card_wuceN .bg_2YoJ9, .container_9Lwwl .cardWrapper_2TbrT .card_wuceN .bg2_OiaTO {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  box-shadow: 0 4px 4px rgba(0,0,0,.04), 0 6px 30px rgba(0,0,0,.05);
  border-radius: 20px;
}

.container_9Lwwl .cardWrapper_2TbrT .card_wuceN .bg_2YoJ9 {
  background: linear-gradient(180deg,rgba(255,92,65,.1),rgba(30,22,56,0)),linear-gradient(63.41deg,#090924 6.57%,#08060d 49.97%,#0b050c 95.23%);
}

.container_9Lwwl .cardWrapper_2TbrT .card_wuceN .bg2_OiaTO {
  background: linear-gradient(17.92deg,#3631b8 18.05%,#4c2c99 52.57%,#6c2884 88.54%);
}

.container_v_517 .wrapper_3teCE {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: .625rem;
}

.container_3_XLo .heroHeader_1Bp-o {
  position: relative;
  height: 300px;
}

.container_v_517 {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
}

.mb-10{
  margin-bottom: 6.875rem!important;
}

.main-slider img{
  width: 100%;
  height: 100%;
}

.container_2mHk_ .card_-q2oi .image_3vyQU.image3D_3hK1i:after {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  background-image:url("https://cdna.iconscout.com/img/9df0615.png");
  background-size: contain;
  height: 250px;
  width: 250px;
}

.container_2mHk_ .card_-q2oi .image_3vyQU.image3D_3hK1wi:after {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  background-image:url("../images/explorer5.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

.container_2c5Lc {
  padding: .9375rem;
  background-color: #fff;
  border-bottom: 1px solid #d8dbeb;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container_35ydw {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
}
.container_1pbfz {
  min-width: 140px;
  min-height: 140px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: box-shadow .2s ease-in;
}
.container_1pbfz .link_2m2Id {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none!important;
}
.container_1pbfz .thumb_2R-ky {
  width: 64px;
}
.container_1pbfz.small_2nxP7 .title_2pEZC {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 64px;
}
.container_1pbfz.withTitle_1TQkx .title_2pEZC {
  display: block;
  opacity: 1;
  max-height: 18px;
  overflow: hidden;
}
.container_1pbfz .price_3kPF2, .container_1pbfz .purchased_1IxYZ, .container_1pbfz .title_2pEZC {
  font-size: 12px;
  line-height: 1.375rem;
  text-align: center;
}
.container_1pbfz .title_2pEZC {
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 400;
  color: #596080;
  margin: .3125rem auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 96px;
  max-height: 0;
  opacity: 0;
  transition: transform .2s ease;
}
.container_2HAwk .icon_2N42L, .container_2HAwk .image_2ZzbG {
  width: 100%;
  background-color: #ffeae6;
  border-radius: 20px;
  position: relative;
  text-decoration: none!important;
  color: inherit;
}

.tags_31u8u li a, .tags_31u8u li button {
  font-size: .875rem;
  font-weight: 400;
  color: #596080;
  border: 1px solid #d8dbeb;
}

.pb-2{
  padding-bottom: .3125rem!important;
}

.tags_31u8u li:not(:last-child) {
  margin-right: .625rem;
  margin-bottom: .625rem;
}

.container_1Hcp7 {
  background: #fff;
  border: 1px solid #d8dbeb;
  border-radius: 5px;
  padding: .5rem 1rem .5rem 12px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.container_1Hcp7 .name_2tL1n .image_3_fUy {
  border-radius: 50px;
  margin-right: .3125rem;
  vertical-align: bottom;
}

.container_1Hcp7 .name_2tL1n {
  flex-grow: 1;
  color: #000;
  text-decoration: none!important;
  font-weight: 500;
}

.container_yDTMT {
  display: inline-flex;
}

.container_yDTMT .licenseContainer_2H4fy {
  width: 300px;
}
.container_yDTMT .btnDownload_3qqZD {
  margin-left: .9375rem;
  margin-bottom: 0;
  width: 100%;
}
@media (min-width: 992px){
  .container_yDTMT .btnDownload_3qqZD {
    width: 130px;
}
}

.container_yDTMT .btnDownload_3qqZD {
    margin-left: .9375rem;
    margin-bottom: 0;
    width: 100%;
}

.container_24cSk {
  height: 100%;
  background-color: #fff;
  position: relative;
}
.container_24cSk .bgPattern_2U4J5.image_KLbNP, .container_24cSk .image_KLbNP.overlay_3V5ki {
  display: flex;
}
.container_24cSk .bgPattern_2U4J5, .container_24cSk .overlay_3V5ki {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: 545px;
  background-position: top;
}
.container_24cSk .overlay_3V5ki {
  mix-blend-mode: normal;
  opacity: .9;
}

.container_24cSk .bgPattern_2U4J5, .container_24cSk .overlay_3V5ki {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: 545px;
  background-position: top;
}

.container_24cSk .content_3Ixku {
  position: relative;
  z-index: 5;
}

.container_1ey8O {
  border-bottom: 1px solid #f5f6fa;
}

.container_3fjLB li a {
  display: inline-block;
  color: #596080;
  max-width: 125px;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container_3fjLB li+li:before {
  display: inline-block;
  content: "›";
  margin-right: .3125rem;
}

@media (max-width: 425px){
  .card-body {
    padding-left: 2rem;
}
.wrapper_2LRQe .heading_1ggpF {
  font-size: 16px;
  line-height: inherit;
}

.slick-next:before {
  display: none;
}

.slick-prev:before {
  display: none;
}
}

.dropdown-menu.dropdown-menu-left{
  left: auto;
  right: 0;
}

.wrapper_AaatX {
  background-color: #00CEC9 !important;
  padding: 30px 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.all_categories{
  background-color: #ee5253 !important;
  padding: 30px 0;
}

.all_categories .text-secondary, .all_categories .heading_3_T8j {
  color: #fff !important;
}

